$ui-base-color: #323021; // fond de la page
$ui-secondary-color: #cec99d; // fond des trucs types CW
$ui-primary-color: #f0d8a9; // icones du haut
$ui-highlight-color: #df9c33; //orange boutons
$base-border-color: #ededdd;
$simple-background-color: #ededdd;
$primary-text-color: #ededdd;
$error-value-color: #dd4433;
$valid-value-color: #559955;
$base-shadow-color: #232323;
$base-overlay-background: #232323;

@import 'application';
